body {
    margin: 0px 0px 0px 0px;
    background-color: black;
}

p {
    color: aliceblue;
    align-content: center;
}

p img {
    width: 24px;
    height: 24px;  
    animation-name: zoom; 
}

p img :hover {
    animation-name: zoom;
    animation-fill-mode: forwards;
}

#navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: black;
    z-index: 1;
    font-family: 'Ubuntu', sans-serif;
}

#bottom {
    margin-bottom: 0px;
    width: 100%;
    background-color: black;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

#right-li {
    float: right;
    font-weight: 600;
    font-size: xx-large;
    margin-bottom: 25px;
}

.box {
    text-align: center;
    border: 0px;
    background-color: rgb(30, 215, 96);
    width: 100%;
}

nav ul {
    padding: 5px 0px 5px 30px;
    align-content: center;
}

nav li {
    display: inline;
    margin-right: 20px; 
    font-weight:normal; 
    color: aliceblue; 
}

a {
    text-decoration: none;
    animation-name: lighten;  
}

a :hover {
    animation-name: lighten;
    animation-fill-mode: forwards;
}

button {
    height: 50px;
    width: 175px;
    border-radius: 25px;
    border: 0px;
    background-color: aliceblue;
    color: black;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    animation-name: zoom1;
}

@keyframes lighten {
    100% {
        color:rgb(30, 215, 96);        
    }
}

@keyframes zoom {
    100% {
        transform: scale(1.5);
    }
}